/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Fallback for background */
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    z-index: 1;
}

#subtitle-container {
    position: absolute;
    bottom: 15%; /* Adjusted position for a more movie-like placement */
    width: 90%;
    text-align: center;
    z-index: 2;
    color: #ffe121; /* Classic yellow color used in movie subtitles */
    font-size: 2rem; /* Increased size for better readability */
    line-height: 1.5; /* Reduced line spacing for a tighter subtitle feel */
    font-family: 'Arial', 'Helvetica', sans-serif; /* Classic sans-serif font for a movie-like look */
    font-weight: bold; /* Bold font to enhance subtitle presence */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); /* Strong shadow for contrast against light and dark backgrounds */
    padding: 10px; /* Added padding to create a buffer around the text */
    border-radius: 5px; /* Slightly rounded corners for a modern touch */
}


audio {
    position: absolute;
    bottom: 5%;
    width: 90%;
    z-index: 3;
}

/* styles.css */
#image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#display-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}


#noise-background{
    object-fit: fill;
}

#play-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-button:hover {
    background-color: #0056b3;
}
